<a href="https://colab.research.google.com/github/flaviohnm/projeto_bancodedados/blob/main/aeronaves.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Projeto de Banco de Dados - Mestrado Profissional em Tecnologia da Informação

##Equipe
*   Carlos
*   Flavio
*   Karenina

#Fase 1 | Preparação do Ambiente do Notebook

##1.1 - Instação das bibliotecas

In [120]:
! pip install pandera
! pip install pymongo
! pip install dnspython

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.8.2)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.1.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)

##1.2 - Importação das bibliotecas

In [121]:
import pandas as pd
from pandas import DataFrame
import pandera as pa
import pymongo
from pymongo import MongoClient as mc

#Fase 2 | Extração dos dados do Google Drive

##2.1 - Importando dados do Google Drive

In [4]:
df = pd.read_csv("/content/drive/MyDrive/projeto_bancodedados/aeronave.csv",sep=";")

##2.2 - Checagem inicial dos dados importados

In [5]:
#checando o dataset
df.head(10)

,codigo_ocorrencia2,aeronave_matricula,aeronave_operador_categoria,aeronave_tipo_veiculo,aeronave_fabricante,aeronave_modelo,aeronave_tipo_icao,aeronave_motor_tipo,aeronave_motor_quantidade,aeronave_pmd,...,aeronave_pais_fabricante,aeronave_pais_registro,aeronave_registro_categoria,aeronave_registro_segmento,aeronave_voo_origem,aeronave_voo_destino,aeronave_fase_operacao,aeronave_tipo_operacao,aeronave_nivel_dano,aeronave_fatalidades_total
0,45331,PRTKB,***,AVIÃO,AEROSPATIALE AND ALENIA,ATR-42-500,AT45,TURBOÉLICE,BIMOTOR,18600,...,BRASIL,BRASIL,AVIÃO,REGULAR,FORA DE AERODROMO,FORA DE AERODROMO,DESCIDA,REGULAR,NENHUM,0
1,45332,PTUDD,***,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-201A,IPAN,PISTÃO,MONOMOTOR,1800,...,BRASIL,BRASIL,AVIÃO,ESPECIALIZADA,FORA DE AERODROMO,FORA DE AERODROMO,DECOLAGEM,AGRÍCOLA,SUBSTANCIAL,0
2,45333,PTGOO,***,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-201,IPAN,PISTÃO,MONOMOTOR,1800,...,BRASIL,BRASIL,AVIÃO,ESPECIALIZADA,FORA DE AERODROMO,FORA DE AERODROMO,ESPECIALIZADA,AGRÍCOLA,SUBSTANCIAL,0
3,45334,PRMHX,REGULAR,AVIÃO,AIRBUS INDUSTRIE,A320-214,A320,JATO,BIMOTOR,77000,...,BRASIL,BRASIL,AVIÃO,REGULAR,FORA DE AERODROMO,FORA DE AERODROMO,CORRIDA APÓS POUSO,REGULAR,LEVE,0
4,45390,PTUEW,***,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-201A,IPAN,PISTÃO,MONOMOTOR,1800,...,BRASIL,BRASIL,AVIÃO,AGRÍCOLA,FORA DE AERODROMO,FORA DE AERODROMO,ESPECIALIZADA,AGRÍCOLA,SUBSTANCIAL,0
5,45391,PTLUP,PARTICULAR,AVIÃO,CESSNA AIRCRAFT,P210N,P210,PISTÃO,MONOMOTOR,1812,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,FORA DE AERODROMO,FORA DE AERODROMO,CRUZEIRO,PRIVADA,SUBSTANCIAL,0
6,45392,PPMOF,***,HELICÓPTERO,ROBINSON HELICOPTER,R44,R44,TURBOEIXO,MONOMOTOR,1088,...,BRASIL,BRASIL,HELICÓPTERO,PARTICULAR,PRESIDENTE JUSCELINO KUBITSCHEK,SANTA GENOVEVA/GOIÂNIA,DECOLAGEM,PRIVADA,SUBSTANCIAL,0
7,45393,PTDHU,***,AVIÃO,PIPER AIRCRAFT,PA-30,PA30,PISTÃO,BIMOTOR,1633,...,BRASIL,BRASIL,AVIÃO,INSTRUÇÃO,FRANCISCO DE ASSIS,SANTOS DUMONT,POUSO,INSTRUÇÃO,SUBSTANCIAL,0
8,45396,PRJMR,***,AVIÃO,PIPER AIRCRAFT,PA-34-220T,PA34,PISTÃO,BIMOTOR,2155,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,JOÃO CORREA DA ROCHA,CARAJÁS,SUBIDA,PRIVADA,LEVE,0
9,45397,PTYLS,***,HELICÓPTERO,EUROCOPTER FRANCE,AS 350 B2,AS50,TURBOEIXO,MONOMOTOR,2250,...,BRASIL,BRASIL,HELICÓPTERO,MÚLTIPLA,SANTOS DUMONT,ANGRA DOS REIS,CRUZEIRO,NÃO REGULAR,SUBSTANCIAL,0

In [6]:
#checando os tipos de dados
df.dtypes

codigo_ocorrencia2               int64
aeronave_matricula              object
aeronave_operador_categoria     object
aeronave_tipo_veiculo           object
aeronave_fabricante             object
aeronave_modelo                 object
aeronave_tipo_icao              object
aeronave_motor_tipo             object
aeronave_motor_quantidade       object
aeronave_pmd                     int64
aeronave_pmd_categoria           int64
aeronave_assentos              float64
aeronave_ano_fabricacao        float64
aeronave_pais_fabricante        object
aeronave_pais_registro          object
aeronave_registro_categoria     object
aeronave_registro_segmento      object
aeronave_voo_origem             object
aeronave_voo_destino            object
aeronave_fase_operacao          object
aeronave_tipo_operacao          object
aeronave_nivel_dano             object
aeronave_fatalidades_total       int64
dtype: object

#Fase 3 | Iniciando as transformações de dados

##3.1 - Checando os valores nulos

In [122]:
#checando valores nulos
df.isnull().sum()

codigo_ocorrencia2                0
aeronave_matricula               14
aeronave_operador_categoria    2948
aeronave_tipo_veiculo           155
aeronave_fabricante             348
aeronave_modelo                 170
aeronave_tipo_icao              264
aeronave_motor_tipo             232
aeronave_motor_quantidade        92
aeronave_pmd                      0
aeronave_pmd_categoria            0
aeronave_assentos               194
aeronave_ano_fabricacao         200
aeronave_pais_fabricante          0
aeronave_pais_registro            0
aeronave_registro_categoria     155
aeronave_registro_segmento       72
aeronave_voo_origem             185
aeronave_voo_destino            183
aeronave_fase_operacao           26
aeronave_tipo_operacao          141
aeronave_nivel_dano              47
aeronave_fatalidades_total        0
dtype: int64

In [123]:
#definindo os tipos de dados
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "aeronave_matricula":pa.Column((pa.String),nullable=True),
        "aeronave_operador_categoria":pa.Column((pa.String),nullable=True),
        "aeronave_tipo_veiculo":pa.Column((pa.String),nullable=True),
        "aeronave_fabricante":pa.Column((pa.String),nullable=True),
        "aeronave_modelo":pa.Column((pa.String),nullable=True),
        "aeronave_tipo_icao":pa.Column((pa.String),nullable=True),
        "aeronave_motor_tipo":pa.Column((pa.String),nullable=True),
        "aeronave_motor_quantidade":pa.Column((pa.String),nullable=True),
        "aeronave_pmd":pa.Column(pa.Int),
        "aeronave_pmd_categoria":pa.Column(pa.Int), #REMOVER
        "aeronave_pais_fabricante":pa.Column((pa.String),nullable=True),
        "aeronave_pais_registro":pa.Column((pa.String),nullable=True), #REMOVER
        "aeronave_registro_categoria":pa.Column((pa.String),nullable=True),
        "aeronave_registro_segmento":pa.Column((pa.String), nullable=True),
        "aeronave_voo_origem":pa.Column((pa.String),nullable=True), ##virar objeto
        "aeronave_voo_destino":pa.Column((pa.String),nullable=True), ##virar objeto
        "aeronave_fase_operacao":pa.Column((pa.String),nullable=True),
        "aeronave_tipo_operacao":pa.Column((pa.String),nullable=True),
        "aeronave_nivel_dano":pa.Column((pa.String),nullable=True),
        "aeronave_fatalidades_total":pa.Column(pa.Int)
    }
)

In [124]:
#validando os tipos de dados
schema.validate(df)

,codigo_ocorrencia2,aeronave_matricula,aeronave_operador_categoria,aeronave_tipo_veiculo,aeronave_fabricante,aeronave_modelo,aeronave_tipo_icao,aeronave_motor_tipo,aeronave_motor_quantidade,aeronave_pmd,...,aeronave_pais_fabricante,aeronave_pais_registro,aeronave_registro_categoria,aeronave_registro_segmento,aeronave_voo_origem,aeronave_voo_destino,aeronave_fase_operacao,aeronave_tipo_operacao,aeronave_nivel_dano,aeronave_fatalidades_total
0,45331,PRTKB,<NA>,AVIÃO,AEROSPATIALE AND ALENIA,ATR-42-500,AT45,TURBOÉLICE,BIMOTOR,18600,...,BRASIL,BRASIL,AVIÃO,REGULAR,FORA DE AERODROMO,FORA DE AERODROMO,DESCIDA,REGULAR,NENHUM,0
1,45332,PTUDD,<NA>,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-201A,IPAN,PISTÃO,MONOMOTOR,1800,...,BRASIL,BRASIL,AVIÃO,ESPECIALIZADA,FORA DE AERODROMO,FORA DE AERODROMO,DECOLAGEM,AGRÍCOLA,SUBSTANCIAL,0
2,45333,PTGOO,<NA>,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-201,IPAN,PISTÃO,MONOMOTOR,1800,...,BRASIL,BRASIL,AVIÃO,ESPECIALIZADA,FORA DE AERODROMO,FORA DE AERODROMO,ESPECIALIZADA,AGRÍCOLA,SUBSTANCIAL,0
3,45334,PRMHX,REGULAR,AVIÃO,AIRBUS INDUSTRIE,A320-214,A320,JATO,BIMOTOR,77000,...,BRASIL,BRASIL,AVIÃO,REGULAR,FORA DE AERODROMO,FORA DE AERODROMO,CORRIDA APÓS POUSO,REGULAR,LEVE,0
4,45390,PTUEW,<NA>,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-201A,IPAN,PISTÃO,MONOMOTOR,1800,...,BRASIL,BRASIL,AVIÃO,AGRÍCOLA,FORA DE AERODROMO,FORA DE AERODROMO,ESPECIALIZADA,AGRÍCOLA,SUBSTANCIAL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5230,80463,PRHMB,<NA>,AVIÃO,CIRRUS DESIGN,SR22,SR22,PISTÃO,MONOMOTOR,1542,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,ANGRA DOS REIS,SÍLVIO NAME JÚNIOR,CRUZEIRO,PRIVADA,NENHUM,0
5231,80465,PRYRW,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,...,BRASIL,BRASIL,<NA>,REGULAR,DEPUTADO LUÍS EDUARDO MAGALHÃES,SANTOS DUMONT,CRUZEIRO,REGULAR,NENHUM,0
5232,80467,PRGXM,<NA>,AVIÃO,BOEING COMPANY,737-8EH,B738,JATO,BIMOTOR,70533,...,BRASIL,BRASIL,AVIÃO,REGULAR,ORLANDO BEZERRA DE MENEZES,GOVERNADOR ANDRÉ FRANCO MONTORO,SUBIDA,REGULAR,LEVE,0
5233,80468,PRGIH,<NA>,AVIÃO,BOEING COMPANY,737-76N,B737,JATO,BIMOTOR,70080,...,BRASIL,BRASIL,AVIÃO,REGULAR,SANTOS DUMONT,DEPUTADO LUÍS EDUARDO MAGALHÃES,TÁXI,REGULAR,NENHUM,0
5234,80468,PRGUZ,<NA>,AVIÃO,BOEING COMPANY,737-8EH,B738,JATO,BIMOTOR,70533,...,BRASIL,BRASIL,AVIÃO,REGULAR,GUARARAPES - GILBERTO FREYRE,DEPUTADO LUÍS EDUARDO MAGALHÃES,TÁXI,REGULAR,NENHUM,0

In [125]:
#transformação de valores
df.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)

In [126]:
#checando valores nulos
df.isnull().sum()

codigo_ocorrencia2                0
aeronave_matricula               14
aeronave_operador_categoria    2948
aeronave_tipo_veiculo           155
aeronave_fabricante             348
aeronave_modelo                 170
aeronave_tipo_icao              264
aeronave_motor_tipo             232
aeronave_motor_quantidade        92
aeronave_pmd                      0
aeronave_pmd_categoria            0
aeronave_assentos               194
aeronave_ano_fabricacao         200
aeronave_pais_fabricante          0
aeronave_pais_registro            0
aeronave_registro_categoria     155
aeronave_registro_segmento       72
aeronave_voo_origem             185
aeronave_voo_destino            183
aeronave_fase_operacao           26
aeronave_tipo_operacao          141
aeronave_nivel_dano              47
aeronave_fatalidades_total        0
dtype: int64

##3.2 - Checando valores únicos

In [127]:
df.codigo_ocorrencia2.is_unique

False

In [128]:
df.aeronave_matricula.is_unique

False

In [129]:
resultado = df["codigo_ocorrencia2"].duplicated()

In [130]:
#checando os valores duplicados
df[resultado]

,codigo_ocorrencia2,aeronave_matricula,aeronave_operador_categoria,aeronave_tipo_veiculo,aeronave_fabricante,aeronave_modelo,aeronave_tipo_icao,aeronave_motor_tipo,aeronave_motor_quantidade,aeronave_pmd,...,aeronave_pais_fabricante,aeronave_pais_registro,aeronave_registro_categoria,aeronave_registro_segmento,aeronave_voo_origem,aeronave_voo_destino,aeronave_fase_operacao,aeronave_tipo_operacao,aeronave_nivel_dano,aeronave_fatalidades_total
88,45689,PPOFF,PARTICULAR,AVIÃO,CIRRUS DESIGN,SR22,SR22,PISTÃO,MONOMOTOR,1542,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,FORA DE AERODROMO,FORA DE AERODROMO,ESTACIONAMENTO,PRIVADA,NENHUM,0
89,45689,PTOTG,PARTICULAR,AVIÃO,BEECH AIRCRAFT,C90A,BE9L,TURBOÉLICE,BIMOTOR,4694,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,FORA DE AERODROMO,FORA DE AERODROMO,TÁXI,PRIVADA,NENHUM,0
207,45903,PTRBN,TÁXI AÉREO,AVIÃO,EMBRAER,EMB-810C,PA34,PISTÃO,BIMOTOR,2073,...,BRASIL,BRASIL,AVIÃO,TÁXI AÉREO,FORA DE AERODROMO,FORA DE AERODROMO,APROXIMAÇÃO FINAL,TÁXI AÉREO,NENHUM,0
335,46255,PTNKA,<NA>,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-711C,P28R,PISTÃO,MONOMOTOR,1202,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,FORA DE AERODROMO,FORA DE AERODROMO,CRUZEIRO,PRIVADA,DESTRUÍDA,0
758,47245,PRHOM,AGRÍCOLA,AVIÃO,BEECH AIRCRAFT,58,BE58,PISTÃO,BIMOTOR,2495,...,BRASIL,BRASIL,AVIÃO,AGRÍCOLA,FORA DE AERODROMO,FORA DE AERODROMO,OUTRA FASE,AGRÍCOLA,LEVE,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4985,80176,PPGAP,<NA>,AVIÃO,AERO BOERO,AB-180,AB18,PISTÃO,MONOMOTOR,844,...,BRASIL,BRASIL,AVIÃO,INSTRUÇÃO,BEBEDOURO,BEBEDOURO,DECOLAGEM,PRIVADA,NENHUM,0
5027,80226,PTRQQ,<NA>,AVIÃO,EMBRAER,EMB-810D,PA34,PISTÃO,BIMOTOR,2155,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,<NA>,CANELA,INDETERMINADA,PRIVADA,NENHUM,0
5032,80230,PRGUC,<NA>,AVIÃO,BOEING COMPANY,737-8EH,B738,JATO,BIMOTOR,70533,...,BRASIL,BRASIL,AVIÃO,REGULAR,BAHIA - JORGE AMADO,GOVERNADOR ANDRÉ FRANCO MONTORO,TÁXI,REGULAR,LEVE,0
5139,80364,PSTXH,<NA>,AVIÃO,<NA>,<NA>,<NA>,<NA>,SEM TRAÇÃO,0,...,BRASIL,BRASIL,AVIÃO,TÁXI AÉREO,BLUMENAU,BACACHERI,DECOLAGEM,INSTRUÇÃO,NENHUM,0
5234,80468,PRGUZ,<NA>,AVIÃO,BOEING COMPANY,737-8EH,B738,JATO,BIMOTOR,70533,...,BRASIL,BRASIL,AVIÃO,REGULAR,GUARARAPES - GILBERTO FREYRE,DEPUTADO LUÍS EDUARDO MAGALHÃES,TÁXI,REGULAR,NENHUM,0

##3.3 - Criação de DataFrames com dados específicos

###3.3.1 - Criação DataFrames

In [131]:
#aeronovas e os campos que não possuem valores nulos
aeronaves = df[{'codigo_ocorrencia2','aeronave_pmd','aeronave_pmd_categoria','aeronave_pais_fabricante','aeronave_pais_registro','aeronave_fatalidades_total'}]

#aeronvaves e os campos que possuem valores nulos
matricula = df[{'codigo_ocorrencia2','aeronave_matricula'}]
operador_categoria = df[{'codigo_ocorrencia2','aeronave_operador_categoria'}]
tipo_veiculo = df[{'codigo_ocorrencia2','aeronave_tipo_veiculo'}]
fabricante = df[{'codigo_ocorrencia2','aeronave_fabricante'}]
modelo = df[{'codigo_ocorrencia2','aeronave_modelo'}]
tipo_icao = df[{'codigo_ocorrencia2','aeronave_tipo_icao'}]
motor_tipo = df[{'codigo_ocorrencia2','aeronave_motor_tipo'}]
motor_quantidade = df[{'codigo_ocorrencia2','aeronave_motor_quantidade'}]
assentos = df[{'codigo_ocorrencia2','aeronave_assentos'}]
ano_fabricacao = df[{'codigo_ocorrencia2','aeronave_ano_fabricacao'}]
registro_categoria = df[{'codigo_ocorrencia2','aeronave_registro_categoria'}]
registro_segmento = df[{'codigo_ocorrencia2','aeronave_registro_segmento'}]
voo_origem = df[{'codigo_ocorrencia2','aeronave_voo_origem'}]
voo_destino = df[{'codigo_ocorrencia2','aeronave_voo_destino'}]
fase_operacao = df[{'codigo_ocorrencia2','aeronave_fase_operacao'}]
tipo_operacao = df[{'codigo_ocorrencia2','aeronave_tipo_operacao'}]
nivel_dano = df[{'codigo_ocorrencia2','aeronave_nivel_dano'}]

###3.3.2 - Criação de Indexes

In [132]:
nova_ordem = ['codigo_ocorrencia2','aeronave_pmd','aeronave_pmd_categoria','aeronave_pais_fabricante','aeronave_pais_registro','aeronave_fatalidades_total']
aeronaves = aeronaves[nova_ordem]

In [133]:
nova_ordem = ['codigo_ocorrencia2','aeronave_matricula']
matricula = matricula[nova_ordem]

In [134]:
nova_ordem = ['codigo_ocorrencia2','aeronave_operador_categoria']
operador_categoria = operador_categoria[nova_ordem]

In [135]:
nova_ordem = ['codigo_ocorrencia2','aeronave_tipo_veiculo']
tipo_veiculo = tipo_veiculo[nova_ordem]

In [136]:
nova_ordem = ['codigo_ocorrencia2','aeronave_fabricante']
fabricante = fabricante[nova_ordem]

In [137]:
nova_ordem = ['codigo_ocorrencia2','aeronave_modelo']
modelo = modelo[nova_ordem]

In [138]:
nova_ordem = ['codigo_ocorrencia2','aeronave_tipo_icao']
tipo_icao = tipo_icao[nova_ordem]

In [139]:
nova_ordem = ['codigo_ocorrencia2','aeronave_motor_tipo']
motor_tipo = motor_tipo[nova_ordem]

In [140]:
nova_ordem = ['codigo_ocorrencia2','aeronave_motor_quantidade']
motor_quantidade = motor_quantidade[nova_ordem]

In [141]:
nova_ordem = ['codigo_ocorrencia2','aeronave_assentos']
assentos = assentos[nova_ordem]

In [142]:
nova_ordem = ['codigo_ocorrencia2','aeronave_ano_fabricacao']
ano_fabricacao = ano_fabricacao[nova_ordem]

In [143]:
nova_ordem = ['codigo_ocorrencia2','aeronave_registro_categoria']
registro_categoria = registro_categoria[nova_ordem]

In [144]:
nova_ordem = ['codigo_ocorrencia2','aeronave_registro_segmento']
registro_segmento = registro_segmento[nova_ordem]

In [145]:
nova_ordem = ['codigo_ocorrencia2','aeronave_voo_origem']
voo_origem = voo_origem[nova_ordem]

In [146]:
nova_ordem = ['codigo_ocorrencia2','aeronave_voo_destino']
voo_destino = voo_destino[nova_ordem]

In [147]:
nova_ordem = ['codigo_ocorrencia2','aeronave_fase_operacao']
fase_operacao = fase_operacao[nova_ordem]

In [148]:
nova_ordem = ['codigo_ocorrencia2','aeronave_tipo_operacao']
tipo_operacao = tipo_operacao[nova_ordem]

In [149]:
nova_ordem = ['codigo_ocorrencia2','aeronave_nivel_dano']
nivel_dano = nivel_dano[nova_ordem]

###3.3.3 - Tratamento de valores nulos

In [150]:
#substituição dos valores pelo NA
matricula.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
assentos.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
operador_categoria.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
tipo_veiculo.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
fabricante.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
modelo.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
tipo_icao.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
motor_tipo.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
motor_quantidade.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
ano_fabricacao.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
registro_categoria.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
registro_segmento.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
voo_origem.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
voo_destino.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
fase_operacao.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
tipo_operacao.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
nivel_dano.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)

In [151]:
#tratamento para remover linhas que estão com vazio para NA
assentos.replace("",pd.NA,inplace=True)

In [152]:
#excluir as linhas com valores NA
matricula.dropna(inplace=True)
assentos.dropna(inplace=True)
operador_categoria.dropna(inplace=True)
tipo_veiculo.dropna(inplace=True)
fabricante.dropna(inplace=True)
modelo.dropna(inplace=True)
tipo_icao.dropna(inplace=True)
motor_tipo.dropna(inplace=True)
motor_quantidade.dropna(inplace=True)
ano_fabricacao.dropna(inplace=True)
registro_categoria.dropna(inplace=True)
registro_segmento.dropna(inplace=True)
voo_origem.dropna(inplace=True)
voo_destino.dropna(inplace=True)
fase_operacao.dropna(inplace=True)
tipo_operacao.dropna(inplace=True)
nivel_dano.dropna(inplace=True)

###3.3.4 - Conversão de tipo Float para Int

In [153]:
#dataframe assentos
assentos['aeronave_assentos'] = assentos['aeronave_assentos'].astype(int)

In [154]:
#tratamento para remover linhas que estão com vazio para NA
assentos.replace("",pd.NA,inplace=True)

In [155]:
print(assentos)

      codigo_ocorrencia2  aeronave_assentos
0                  45331                 50
1                  45332                  1
2                  45333                  1
3                  45334                184
4                  45390                  1
...                  ...                ...
5229               80461                 75
5230               80463                  4
5232               80467                199
5233               80468                153
5234               80468                199

[5041 rows x 2 columns]

In [156]:
#assentos.dtypes

In [157]:
#dataframe ano_fabricacao
ano_fabricacao['aeronave_ano_fabricacao'] = ano_fabricacao['aeronave_ano_fabricacao'].astype(int)
ano_fabricacao['aeronave_ano_fabricacao'] = ano_fabricacao['aeronave_ano_fabricacao'].apply(int)

In [158]:
#ano_fabricacao.dtypes

#Fase 4 - Conexão com MongoDB Atlas

##4.1 - Conexão com MongoDB Atlas - Flávio

In [159]:
#url de conexão com o mongoDBAltas - Flavio
uri = "mongodb+srv://mongo_user:MongoUser1234@cluster0.6qfwp.mongodb.net/starwars?retryWrites=true&w=majority"
client = mc(uri)

In [160]:
#definicao da base de ados que sera usada no projeto
db = client['projetobd']

##4.2 - Conexão com MongoDB Atlas - Carlos

In [161]:
#url de conexão com o mongoDBAltas - Carlos
#uri = "mongodb+srv://carlosluisfilho:gled1986@cluster0.q3jl7.mongodb.net/test?retryWrites=true&w=majority"
#client = mc(uri)

In [162]:
#definicao da base de ados que sera usada no projeto
#db = client['cenipa']

#Fase 5 - Carga do DataFrame no MongoDB

##5.1 - Definição da collection que será utilizada

In [163]:
collection = db['aeronaves']

##5.2 - Carregando a coleção de aeronave no MongoDB

In [ ]:
#lista.clear()
lista = []
for index, i in aeronaves.iterrows():
    lista.append({"codigo_ocorrencia":i["codigo_ocorrencia2"], "pmd": i["aeronave_pmd"],
                  "pais_fabricante": i["aeronave_pais_fabricante"],
                  "pais_registro": i["aeronave_pais_registro"],"fatalidades_total": i["aeronave_fatalidades_total"]})
collection.insert_many(lista,bypass_document_validation=False)

##5.3 - Complemento da carga da coleção aeronave no MongoDB

###5.3.1 - Bloco1

In [ ]:
#trecho que define as regras da atualização
for index, i in matricula.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'matricula':i["aeronave_matricula"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for index, i in operador_categoria.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'operador_categoria':i["aeronave_operador_categoria"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for index, i in tipo_veiculo.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'tipo_veiculo':i["aeronave_tipo_veiculo"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for index, i in fabricante.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'fabricante':i["aeronave_fabricante"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for index, i in modelo.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'modelo':i["aeronave_modelo"]}}
    collection.find_one_and_update(query,novos_valores)

###5.3.2 - Bloco2

In [ ]:
#trecho que define as regras da atualização
for index, i in tipo_icao.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'tipo_icao':i["aeronave_tipo_icao"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for index, i in motor_tipo.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'motor_tipo':i["aeronave_motor_tipo"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for i in range (len(assentos)):
    ocorrencia = assentos.iloc[i]['codigo_ocorrencia2']
    assento = assentos.iloc[i]['aeronave_assentos']
    query = {'codigo_ocorrencia':int(ocorrencia)}
    novos_valores = { '$set': {'assentos':int(assento)}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for i in range (len(ano_fabricacao)):
    ocorrencia = int(ano_fabricacao.iloc[i]['codigo_ocorrencia2'])
    ano = ano_fabricacao.iloc[i]['aeronave_ano_fabricacao']
    query = {'codigo_ocorrencia':int(ocorrencia)}
    novos_valores = { '$set': {'ano_fabricacao':int(ano)}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for index, i in registro_categoria.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'registro_categoria':i["aeronave_registro_categoria"]}}
    collection.find_one_and_update(query,novos_valores)

###5.3.3 - Bloco3

In [ ]:
#trecho que define as regras da atualização
for index, i in registro_segmento.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'registro_segmento':i["aeronave_registro_segmento"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for i in range (len(voo_origem)):
    ocorrencia = int(voo_origem.iloc[i]['codigo_ocorrencia2'])
    origem = voo_origem.iloc[i]['aeronave_voo_origem']
    query = {'codigo_ocorrencia':int(ocorrencia)}
    novos_valores = { '$push': {'voo':{'origem':origem}}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for i in range (len(voo_destino)):
    ocorrencia = int(voo_destino.iloc[i]['codigo_ocorrencia2'])
    destino = voo_destino.iloc[i]['aeronave_voo_destino']
    query = {'codigo_ocorrencia':int(ocorrencia)}
    novos_valores = { '$push': {'voo':{'destino':destino}}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for index, i in fase_operacao.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'fase_operacao':i["aeronave_fase_operacao"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for index, i in tipo_operacao.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'tipo_operacao':i["aeronave_tipo_operacao"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define as regras da atualização
for index, i in nivel_dano.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia2"]}
    novos_valores = { '$set': {'nivel_dano':i["aeronave_nivel_dano"]}}
    collection.find_one_and_update(query,novos_valores)

###5.3.4 - Bloco4 - Embedar documentos

In [170]:
collection = db['aeronaves']
cursor = collection.find()
list_naves = list(cursor)
naves = DataFrame(list_naves)

In [173]:
collection = db['ocorrencias']
for i in range (len(naves)):
    id = naves.iloc[i]["_id"]
    ocorrencia = int(naves.iloc[i]["codigo_ocorrencia"])
    matricula = naves.iloc[i]["matricula"]
    query = {'codigo_ocorrencia':int(ocorrencia)}
    novos_valores = {'$push':{'aeronaves':[{'_id':id},{'matricula':matricula}]}}
    collection.find_one_and_update(query,novos_valores)

#Fase 6 - Códigos Extras

##6.1 - Excluíndo uma coleção

In [ ]:
#estrutura para excluir a coleção
collection = db['aeronaves']
#collection.drop()

In [ ]:
assentos[assentos["codigo_ocorrencia2"]==45331]