<a href="https://colab.research.google.com/github/flaviohnm/projeto_bancodedados/blob/main/etl_ocorrencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Projeto de Banco de Dados - Mestrado Profissional em Tecnologia da Informação

#Fase 1 | prepatória do notebook

###Instação das bibliotecas

In [ ]:
! pip install pandera
! pip install pymongo
! pip install dnspython

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 5.1 MB/s
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.8.2)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.9.0 typing-inspect-0.7.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.1.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

###Importação das bibliotecas

In [ ]:
import pandas as pd
import pandera as pa
import pymongo
from pymongo import MongoClient as mc

###Importação da base de dados

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/projeto_bancodedados/ocorrencia.csv",sep=";",parse_dates=['ocorrencia_dia'],dayfirst=True)

#Fase 2 | checagem dos dados importados

### O comando "head" exibe a quantidade de linhas contida no parentesis.

In [ ]:
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,2012-01-05,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,2012-01-06,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,2012-01-06,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,2012-01-06,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,2012-01-06,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
5,52243,52243,52243,52243,52243,INCIDENTE,NaN,NaN,UBATUBA,SP,...,2012-01-06,14:30:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
6,50713,50713,50713,50713,50713,INCIDENTE GRAVE,***,***,CAMPINAS,SP,...,2012-01-07,18:15:00,SIM,FINALIZADA,IG-184/CENIPA/2013,SIM,2014-01-08,0,1,NÃO
7,45334,45334,45334,45334,45334,INCIDENTE,NaN,NaN,BELÉM,PA,...,2012-01-08,19:12:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
8,45391,45391,45391,45391,45391,ACIDENTE,-19.9133333333,-48.2930555556,CONCEIÇÃO DAS ALAGOAS,MG,...,2012-01-08,16:00:00,***,FINALIZADA,A DEFINIR,NÃO,NaN,0,1,NÃO
9,52244,52244,52244,52244,52244,INCIDENTE,***,***,UBERLÂNDIA,MG,...,2012-01-08,22:13:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO

###Exibir os tipos de dados dos objetos

In [ ]:
df.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia1                         int64
codigo_ocorrencia2                         int64
codigo_ocorrencia3                         int64
codigo_ocorrencia4                         int64
ocorrencia_classificacao                  object
ocorrencia_latitude                       object
ocorrencia_longitude                      object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_pais                           object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
divulgacao_relatorio_publicado            object
divulgacao_dia_publicacao                 object
total_recomendacoes                        int64
total_aeronaves_envolvidas                 int64
ocorrencia_saida_pista                    object
dtype: object

In [ ]:
df.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_pais":pa.Column(pa.String),
        "ocorrencia_aerodromo":pa.Column((pa.String),nullable=True),
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'),nullable=True),
        "divulgacao_relatorio_publicado":pa.Column(pa.String),
        "ocorrencia_saida_pista":pa.Column(pa.String),
        "total_aeronaves_envolvidas":pa.Column(pa.Int),
        "total_recomendacoes":pa.Column(pa.Int),
        }
)

In [ ]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,2012-01-05,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,2012-01-06,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,2012-01-06,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,2012-01-06,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,2012-01-06,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162,80458,80458,80458,80458,80458,ACIDENTE,-17.999194,-51.642861,JATAÍ,GO,...,2021-12-30,20:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
5163,80452,80452,80452,80452,80452,ACIDENTE,-22.585556,-50.753889,MARACAÍ,SP,...,2021-12-31,09:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
5164,80457,80457,80457,80457,80457,INCIDENTE GRAVE,-29.695833,-51.081667,NOVO HAMBURGO,RS,...,2021-12-31,11:59:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
5165,80460,80460,80460,80460,80460,INCIDENTE,-25.403333,-49.233611,CURITIBA,PR,...,2021-12-31,15:12:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
5166,80467,80467,80467,80467,80467,INCIDENTE,-9.3675,-40.56361111111,PETROLINA,PE,...,2021-12-31,20:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO

In [ ]:
#O comando isnull quais colunas possuem valores nulos e o sum soma por coluna quantos valores nulos há
df.isnull().sum()

codigo_ocorrencia                    0
codigo_ocorrencia1                   0
codigo_ocorrencia2                   0
codigo_ocorrencia3                   0
codigo_ocorrencia4                   0
ocorrencia_classificacao             0
ocorrencia_latitude               1493
ocorrencia_longitude              1494
ocorrencia_cidade                    0
ocorrencia_uf                        2
ocorrencia_pais                      0
ocorrencia_aerodromo              1905
ocorrencia_dia                       0
ocorrencia_hora                      1
investigacao_aeronave_liberada    1778
investigacao_status                257
divulgacao_relatorio_numero       3298
divulgacao_relatorio_publicado       0
divulgacao_dia_publicacao         3816
total_recomendacoes                  0
total_aeronaves_envolvidas           0
ocorrencia_saida_pista               0
dtype: int64

In [ ]:
df.isna().sum()

codigo_ocorrencia                    0
codigo_ocorrencia1                   0
codigo_ocorrencia2                   0
codigo_ocorrencia3                   0
codigo_ocorrencia4                   0
ocorrencia_classificacao             0
ocorrencia_latitude               1493
ocorrencia_longitude              1494
ocorrencia_cidade                    0
ocorrencia_uf                        2
ocorrencia_pais                      0
ocorrencia_aerodromo              1905
ocorrencia_dia                       0
ocorrencia_hora                      1
investigacao_aeronave_liberada    1778
investigacao_status                257
divulgacao_relatorio_numero       3298
divulgacao_relatorio_publicado       0
divulgacao_dia_publicacao         3816
total_recomendacoes                  0
total_aeronaves_envolvidas           0
ocorrencia_saida_pista               0
dtype: int64

###Checando se o valor da coluna "codigo ocorrência" são únicos.

In [ ]:
df.codigo_ocorrencia.is_unique

True

Definindo "codigo da ocorrência" como indice

In [ ]:
#geolocalizacao.set_index('codigo_ocorrencia', inplace=True)

#Fase 3 | Separação dos dados nulos em data sets menores

### Criação de Data Frames (Ocorrencias e Geolocalizacao)

In [ ]:
#ocorrencais campos que não tem valores nulos
ocorrencias = df[{'codigo_ocorrencia','ocorrencia_classificacao','ocorrencia_cidade',
                 'ocorrencia_pais','ocorrencia_dia','ocorrencia_hora','divulgacao_relatorio_numero',
                 'divulgacao_relatorio_publicado','ocorrencia_saida_pista',
                 'total_recomendacoes','total_aeronaves_envolvidas'}]

#campos com valores nulos
geolocalizacao = df[{'codigo_ocorrencia','ocorrencia_latitude','ocorrencia_longitude'}]
uf = df[{'codigo_ocorrencia','ocorrencia_uf'}]
aerodromo = df[{'codigo_ocorrencia','ocorrencia_aerodromo'}]
hora = df[{'codigo_ocorrencia','ocorrencia_hora'}]
investigacao_aeronave_liberada = df[{'codigo_ocorrencia','investigacao_aeronave_liberada'}]
investigacao_status = df[{'codigo_ocorrencia','investigacao_status'}]
divulgacao_dia_publicacao = df[{'codigo_ocorrencia','divulgacao_dia_publicacao'}]

In [ ]:
#ocorrencias.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
ocorrencias.head(10)

,total_recomendacoes,ocorrencia_hora,ocorrencia_saida_pista,ocorrencia_pais,divulgacao_relatorio_numero,codigo_ocorrencia,divulgacao_relatorio_publicado,total_aeronaves_envolvidas,ocorrencia_dia,ocorrencia_cidade,ocorrencia_classificacao
0,0,20:27:00,NÃO,BRASIL,***,52242,NÃO,1,2012-01-05,PORTO ALEGRE,INCIDENTE
1,3,13:44:00,NÃO,BRASIL,A-582/CENIPA/2014,45331,SIM,1,2012-01-06,GUARULHOS,ACIDENTE
2,0,13:00:00,NÃO,BRASIL,A-070/CENIPA/2013,45333,SIM,1,2012-01-06,VIAMÃO,ACIDENTE
3,0,17:00:00,NÃO,BRASIL,NaN,45401,NÃO,1,2012-01-06,SÃO SEBASTIÃO,ACIDENTE
4,0,16:30:00,NÃO,BRASIL,A-071/CENIPA/2013,45407,SIM,1,2012-01-06,SÃO SEPÉ,ACIDENTE
5,0,14:30:00,NÃO,BRASIL,***,52243,NÃO,1,2012-01-06,UBATUBA,INCIDENTE
6,0,18:15:00,NÃO,BRASIL,IG-184/CENIPA/2013,50713,SIM,1,2012-01-07,CAMPINAS,INCIDENTE GRAVE
7,0,19:12:00,NÃO,BRASIL,***,45334,NÃO,1,2012-01-08,BELÉM,INCIDENTE
8,0,16:00:00,NÃO,BRASIL,A DEFINIR,45391,NÃO,1,2012-01-08,CONCEIÇÃO DAS ALAGOAS,ACIDENTE
9,0,22:13:00,NÃO,BRASIL,***,52244,NÃO,1,2012-01-08,UBERLÂNDIA,INCIDENTE

###Bloco de organização de indixes

In [113]:
nova_ordem = (['codigo_ocorrencia','ocorrencia_classificacao','ocorrencia_cidade',
                 'ocorrencia_pais','ocorrencia_dia','ocorrencia_hora','divulgacao_relatorio_numero',
                 'divulgacao_relatorio_publicado','ocorrencia_saida_pista',
                 'total_recomendacoes','total_aeronaves_envolvidas'])
ocorrencias = ocorrencias[nova_ordem]

In [114]:
geolocalizacao.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [115]:
nova_ordem = ['codigo_ocorrencia','ocorrencia_latitude','ocorrencia_longitude']
geolocalizacao = geolocalizacao[nova_ordem]

In [116]:
geolocalizacao.columns

Index(['codigo_ocorrencia', 'ocorrencia_latitude', 'ocorrencia_longitude'], dtype='object')

In [117]:
nova_ordem = ['codigo_ocorrencia','ocorrencia_uf']
uf = uf[nova_ordem]

In [118]:
nova_ordem = ['codigo_ocorrencia','ocorrencia_aerodromo']
aerodromo = aerodromo[nova_ordem]

In [119]:
nova_ordem = ['codigo_ocorrencia','ocorrencia_hora']
hora = hora[nova_ordem]

In [120]:
nova_ordem = ['codigo_ocorrencia','investigacao_aeronave_liberada']
investigacao_aeronave_liberada = investigacao_aeronave_liberada[nova_ordem]

In [121]:
nova_ordem = ['codigo_ocorrencia','investigacao_status']
investigacao_status = investigacao_status[nova_ordem]

In [122]:
nova_ordem = ['codigo_ocorrencia','divulgacao_dia_publicacao']
divulgacao_dia_publicacao = divulgacao_dia_publicacao[nova_ordem]

###Bloco para excluir as linhas nulas

In [123]:
geolocalizacao.dropna(inplace=True)
uf.dropna(inplace=True)
aerodromo.dropna(inplace=True)
hora.dropna(inplace=True)
investigacao_aeronave_liberada.dropna(inplace=True)
investigacao_status.dropna(inplace=True)
divulgacao_dia_publicacao.dropna(inplace=True)

In [ ]:
geolocalizacao.codigo_ocorrencia.is_unique

True

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "ocorrencia_latitude":pa.Column((pa.String),nullable=True),            
        "ocorrencia_longitude":pa.Column((pa.String),nullable=True),            
    }
)

#Fase 4 | Dados da conexão com o MongoDB no Atlas (AWS)

##String de conexão com o Altas Mongo DB

In [124]:
uri = "mongodb+srv://mongo_user:MongoUser1234@cluster0.6qfwp.mongodb.net/starwars?retryWrites=true&w=majority" #url de conexão
client = mc(uri)

In [ ]:
#teste de conexão com o banco
client.stats

Database(MongoClient(host=['cluster0-shard-00-00.6qfwp.mongodb.net:27017', 'cluster0-shard-00-02.6qfwp.mongodb.net:27017', 'cluster0-shard-00-01.6qfwp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-r075ws-shard-0', tls=True), 'stats')

In [ ]:
db = client.list_database_names()
print(db)

['mestrado', 'starwars', 'admin', 'local']

##Importando o DataFrame de ocorrencias para o MongoDB

In [125]:
db = client['projetobd']
collection = db['ocorrencias']

In [126]:
#carregando o dataframe ocorrencias no mongodb
ocorrencias_dict = ocorrencias.to_dict("records")
collection.insert_many(ocorrencias_dict)

In [ ]:
print(ocorrencias_dict)

In [ ]:
#listando um registro já cadastrado no mongo
busca = collection.find_one()
print(busca)

##Importando o DataFrame de Geolocalizacao para o MongoDB

In [ ]:
db = client['projetobd']
collection = db['geolocalizacao']

In [ ]:
geolocalizacao_dict = geolocalizacao.to_dict("records")
collection.insert_many(geolocalizacao_dict)

In [ ]:
#listando um registro já cadastrado no mongo
busca = collection.find_one()
print(busca)

In [128]:
# verificar o tamanho do DataFrame
print("Colunas:", geolocalizacao.shape[1])
print("Linhas:", geolocalizacao.shape[0])

Colunas: 3
Linhas: 3673

#Update Ocorrencias MongoDB

In [129]:
db = client['projetobd']
collection = db['ocorrencias']
query = {'codigo_ocorrencia':45392}
resultado = geolocalizacao[geolocalizacao['codigo_ocorrencia'] == 45392]
novos_valores = { '$set': {'geolocalizacao':{'latitude':resultado.ocorrencia_latitude.values[0],'longitude':resultado.ocorrencia_longitude.values[0]}}}

In [130]:
print(resultado)

    codigo_ocorrencia ocorrencia_latitude ocorrencia_longitude
21              45392      -15.8197222222       -47.8747222222

In [131]:
collection.find_one_and_update(query,novos_valores)

{'_id': ObjectId('62c25b6d193e03e20c50e8d7'),
 'codigo_ocorrencia': 45392,
 'divulgacao_relatorio_numero': 'A-032/CENIPA/2014',
 'divulgacao_relatorio_publicado': 'SIM',
 'ocorrencia_cidade': 'BRASÍLIA',
 'ocorrencia_classificacao': 'ACIDENTE',
 'ocorrencia_dia': datetime.datetime(2012, 1, 19, 0, 0),
 'ocorrencia_hora': '21:30:00',
 'ocorrencia_pais': 'BRASIL',
 'ocorrencia_saida_pista': 'NÃO',
 'total_aeronaves_envolvidas': 1,
 'total_recomendacoes': 2}

In [132]:
busca = collection.find_one({"codigo_ocorrencia":45392})
print(busca)

{'_id': ObjectId('62c25b6d193e03e20c50e8d7'), 'codigo_ocorrencia': 45392, 'ocorrencia_classificacao': 'ACIDENTE', 'ocorrencia_cidade': 'BRASÍLIA', 'ocorrencia_pais': 'BRASIL', 'ocorrencia_dia': datetime.datetime(2012, 1, 19, 0, 0), 'ocorrencia_hora': '21:30:00', 'divulgacao_relatorio_numero': 'A-032/CENIPA/2014', 'divulgacao_relatorio_publicado': 'SIM', 'ocorrencia_saida_pista': 'NÃO', 'total_recomendacoes': 2, 'total_aeronaves_envolvidas': 1, 'geolocalizacao': {'latitude': '-15.8197222222', 'longitude': '-47.8747222222'}}

#Deletando uma coleção

In [ ]:
#estrutura para excluir a coleção
db = client['projetobd']
collection = db['ocorrencias']
collection.drop()

In [ ]:
#estrutura para excluir a coleção
db = client['projetobd']
collection = db['geolocalizacao']
collection.drop()