<a href="https://colab.research.google.com/github/flaviohnm/projeto_bancodedados/blob/main/ocorrencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Projeto de Banco de Dados - Mestrado Profissional em Tecnologia da Informação

##Equipe


*   Carlos
*   Flavio
*   Karenina

#Fase 1 | Preparação do Ambiente do Notebook

##1.1 - Instação das bibliotecas

In [4]:
! pip install pandera
! pip install pymongo
! pip install dnspython

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 29.2 MB/s
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.9.0 typing-inspect-0.7.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.1.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 28.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

##1.2 - Importação das bibliotecas

In [5]:
import pandas as pd
import pandera as pa
import pymongo
from pymongo import MongoClient as mc

#Fase 2 | Extração dos dados do Google Drive

##2.1 - Importando dados do Google Drive

In [6]:
df = pd.read_csv("/content/drive/MyDrive/projeto_bancodedados/ocorrencia.csv",sep=";",parse_dates=['ocorrencia_dia'],dayfirst=True)

##2.2 - Checagem inicial dos dados importados

In [7]:
#checando o dataset
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,2012-01-05,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,2012-01-06,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,2012-01-06,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,2012-01-06,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,2012-01-06,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
5,52243,52243,52243,52243,52243,INCIDENTE,NaN,NaN,UBATUBA,SP,...,2012-01-06,14:30:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
6,50713,50713,50713,50713,50713,INCIDENTE GRAVE,***,***,CAMPINAS,SP,...,2012-01-07,18:15:00,SIM,FINALIZADA,IG-184/CENIPA/2013,SIM,2014-01-08,0,1,NÃO
7,45334,45334,45334,45334,45334,INCIDENTE,NaN,NaN,BELÉM,PA,...,2012-01-08,19:12:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
8,45391,45391,45391,45391,45391,ACIDENTE,-19.9133333333,-48.2930555556,CONCEIÇÃO DAS ALAGOAS,MG,...,2012-01-08,16:00:00,***,FINALIZADA,A DEFINIR,NÃO,NaN,0,1,NÃO
9,52244,52244,52244,52244,52244,INCIDENTE,***,***,UBERLÂNDIA,MG,...,2012-01-08,22:13:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO

In [8]:
#checando os tipos de dados
df.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia1                         int64
codigo_ocorrencia2                         int64
codigo_ocorrencia3                         int64
codigo_ocorrencia4                         int64
ocorrencia_classificacao                  object
ocorrencia_latitude                       object
ocorrencia_longitude                      object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_pais                           object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
divulgacao_relatorio_publicado            object
divulgacao_dia_publicacao                 object
total_recomendacoes                        int64
total_aeronaves_envolvidas                 int64
ocorrencia_saida_pista                    object
dtype: object

#Fase 3 | Iniciando as transformações de dados

##3.1 - Checando os valores nulos

In [9]:
#O comando isnull quais colunas possuem valores nulos e o sum soma por coluna quantos valores nulos há
df.isnull().sum()

codigo_ocorrencia                    0
codigo_ocorrencia1                   0
codigo_ocorrencia2                   0
codigo_ocorrencia3                   0
codigo_ocorrencia4                   0
ocorrencia_classificacao             0
ocorrencia_latitude                975
ocorrencia_longitude               975
ocorrencia_cidade                    0
ocorrencia_uf                        0
ocorrencia_pais                      0
ocorrencia_aerodromo                 0
ocorrencia_dia                       0
ocorrencia_hora                      1
investigacao_aeronave_liberada     166
investigacao_status                257
divulgacao_relatorio_numero        384
divulgacao_relatorio_publicado       0
divulgacao_dia_publicacao         3816
total_recomendacoes                  0
total_aeronaves_envolvidas           0
ocorrencia_saida_pista               0
dtype: int64

In [10]:
#transformação de valores
df.replace(['***','**','####','###!','****','*****','****_****','*********','*******','NÃO INFORMADO','NULL','\t'],pd.NA, inplace=True)

In [11]:
#definindo os tipos de dados
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_latitude":pa.Column((pa.String), nullable=True),
        "ocorrencia_longitude":pa.Column((pa.String), nullable=True),
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_pais":pa.Column(pa.String),
        "ocorrencia_aerodromo":pa.Column((pa.String),nullable=True),
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'),nullable=True),
        "divulgacao_relatorio_publicado":pa.Column(pa.String),
        "ocorrencia_saida_pista":pa.Column(pa.String),
        "total_aeronaves_envolvidas":pa.Column(pa.Int),
        "total_recomendacoes":pa.Column(pa.Int),
        }
)

In [12]:
#validando os tipos de dados
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,2012-01-05,20:27:00,<NA>,FINALIZADA,<NA>,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,2012-01-06,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,<NA>,<NA>,VIAMÃO,RS,...,2012-01-06,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,<NA>,<NA>,SÃO SEBASTIÃO,SP,...,2012-01-06,17:00:00,<NA>,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,<NA>,<NA>,SÃO SEPÉ,RS,...,2012-01-06,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162,80458,80458,80458,80458,80458,ACIDENTE,-17.999194,-51.642861,JATAÍ,GO,...,2021-12-30,20:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
5163,80452,80452,80452,80452,80452,ACIDENTE,-22.585556,-50.753889,MARACAÍ,SP,...,2021-12-31,09:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO
5164,80457,80457,80457,80457,80457,INCIDENTE GRAVE,-29.695833,-51.081667,NOVO HAMBURGO,RS,...,2021-12-31,11:59:00,SIM,FINALIZADA,<NA>,NÃO,NaN,0,1,NÃO
5165,80460,80460,80460,80460,80460,INCIDENTE,-25.403333,-49.233611,CURITIBA,PR,...,2021-12-31,15:12:00,SIM,FINALIZADA,<NA>,NÃO,NaN,0,1,NÃO
5166,80467,80467,80467,80467,80467,INCIDENTE,-9.3675,-40.56361111111,PETROLINA,PE,...,2021-12-31,20:30:00,SIM,FINALIZADA,<NA>,NÃO,NaN,0,1,NÃO

In [13]:
#checando valores nulos
df.isna().sum()

codigo_ocorrencia                    0
codigo_ocorrencia1                   0
codigo_ocorrencia2                   0
codigo_ocorrencia3                   0
codigo_ocorrencia4                   0
ocorrencia_classificacao             0
ocorrencia_latitude               1496
ocorrencia_longitude              1498
ocorrencia_cidade                    0
ocorrencia_uf                        2
ocorrencia_pais                      0
ocorrencia_aerodromo              1905
ocorrencia_dia                       0
ocorrencia_hora                      1
investigacao_aeronave_liberada    1778
investigacao_status                257
divulgacao_relatorio_numero       3298
divulgacao_relatorio_publicado       0
divulgacao_dia_publicacao         3816
total_recomendacoes                  0
total_aeronaves_envolvidas           0
ocorrencia_saida_pista               0
dtype: int64

##3.2 - Checando valores únicos

In [14]:
df.codigo_ocorrencia.is_unique

True

##3.3 - Criação de DataFrames com dados específicos

###3.3.1 - Criação DataFrames

In [15]:
#ocorrencais campos que não tem valores nulos
ocorrencias = df[{'codigo_ocorrencia','ocorrencia_classificacao','ocorrencia_cidade',
                 'ocorrencia_pais','ocorrencia_dia','divulgacao_relatorio_publicado','ocorrencia_saida_pista',
                 'total_recomendacoes','total_aeronaves_envolvidas'}]

#campos com valores nulos
uf = df[{'codigo_ocorrencia','ocorrencia_uf'}]
aerodromo = df[{'codigo_ocorrencia','ocorrencia_aerodromo'}]
hora = df[{'codigo_ocorrencia','ocorrencia_hora'}]
investigacao_aeronave_liberada = df[{'codigo_ocorrencia','investigacao_aeronave_liberada'}]
investigacao_status = df[{'codigo_ocorrencia','investigacao_status'}]
divulgacao_dia_publicacao = df[{'codigo_ocorrencia','divulgacao_dia_publicacao'}]
divulgacao_relatorio_numero = df[{'codigo_ocorrencia','divulgacao_relatorio_numero'}]
geolocalizacao = df[{'codigo_ocorrencia','ocorrencia_latitude','ocorrencia_longitude'}]

###3.3.2 - Criação de Indexes

In [16]:
nova_ordem = (['codigo_ocorrencia','ocorrencia_classificacao','ocorrencia_cidade',
                 'ocorrencia_pais','ocorrencia_dia','divulgacao_relatorio_publicado','ocorrencia_saida_pista',
                 'total_recomendacoes','total_aeronaves_envolvidas'])
ocorrencias = ocorrencias[nova_ordem]

In [17]:
nova_ordem = ['codigo_ocorrencia','ocorrencia_latitude','ocorrencia_longitude']
geolocalizacao = geolocalizacao[nova_ordem]

In [18]:
geolocalizacao.columns

Index(['codigo_ocorrencia', 'ocorrencia_latitude', 'ocorrencia_longitude'], dtype='object')

In [19]:
nova_ordem = ['codigo_ocorrencia','ocorrencia_uf']
uf = uf[nova_ordem]

In [20]:
nova_ordem = ['codigo_ocorrencia','ocorrencia_aerodromo']
aerodromo = aerodromo[nova_ordem]

In [21]:
nova_ordem = ['codigo_ocorrencia','ocorrencia_hora']
hora = hora[nova_ordem]

schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'),nullable=True),
        }
)

In [22]:
nova_ordem = ['codigo_ocorrencia','investigacao_aeronave_liberada']
investigacao_aeronave_liberada = investigacao_aeronave_liberada[nova_ordem]

In [23]:
nova_ordem = ['codigo_ocorrencia','investigacao_status']
investigacao_status = investigacao_status[nova_ordem]

In [24]:
nova_ordem = ['codigo_ocorrencia','divulgacao_dia_publicacao']
divulgacao_dia_publicacao = divulgacao_dia_publicacao[nova_ordem]

In [25]:
nova_ordem = ['codigo_ocorrencia','divulgacao_relatorio_numero']
divulgacao_relatorio_numero = divulgacao_relatorio_numero[nova_ordem]

###3.3.3 - Tratamento de valores nulos

In [26]:
geolocalizacao.replace(['***','**','####','###!','****','*****','****_****','*********','*******','*******','NÃO INFORMADO','NULL','\t'], pd.NA, inplace=True)
uf.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
aerodromo.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
hora.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
investigacao_aeronave_liberada.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
investigacao_status.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
divulgacao_dia_publicacao.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)
divulgacao_relatorio_numero.replace(['***','**','####','###!','****','*****','NULL'], pd.NA, inplace=True)

In [27]:
geolocalizacao.dropna(inplace=True)
uf.dropna(inplace=True)
aerodromo.dropna(inplace=True)
hora.dropna(inplace=True)
investigacao_aeronave_liberada.dropna(inplace=True)
investigacao_status.dropna(inplace=True)
divulgacao_dia_publicacao.dropna(inplace=True)
divulgacao_relatorio_numero.dropna(inplace=True)

###3.3.4 - Tratamento de caracteres especiais no inincio e no fim da string

In [28]:
geolocalizacao.head()
print(geolocalizacao.head(1000))

      codigo_ocorrencia ocorrencia_latitude ocorrencia_longitude
1                 45331      -23.4355555556       -46.4730555556
8                 45391      -19.9133333333       -48.2930555556
12                45396       -5.3677777778       -49.1383333333
13                45408      -24.5888888889       -48.2113888889
15                45409      -16.0388888889       -57.5958333333
...                 ...                 ...                  ...
2351              60651             -20.025       -47.5727777778
2352              60682      -19.9091666667       -43.9891666667
2353              60859    \t-29.26055556\t     \t-56.45194444\t
2354              60660    \t-29.72777778\t     \t-56.95916667\t
2355              60664      -15.7905555556       -51.6702777778

[1000 rows x 3 columns]

In [29]:
geolocalizacao.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r|°|","Longitude: -47.|Longitude: -43.|056 07|15 39’"],
                                  value=["","",""], regex=True, inplace=True)

In [30]:
#replace para trocar ',' por '.'
geolocalizacao.replace("- ","-",regex=True,inplace=True)

In [31]:
#replace para trocar ',' por '.'
geolocalizacao.replace(",",".",regex=True,inplace=True)

In [32]:
geolocalizacao.replace("",pd.NA,inplace=True)

In [33]:
geolocalizacao.dropna(inplace=True)

###3.3.5 - Tratamento para reduzir a quantidade de caracteres existente nas coodenadas geograficas

In [34]:
geolocalizacao['ocorrencia_longitude'] = geolocalizacao['ocorrencia_longitude'].str.slice(start=0, stop=6, step=1)

In [35]:
geolocalizacao['ocorrencia_latitude'] = geolocalizacao['ocorrencia_latitude'].str.slice(start=0, stop=6, step=1)

In [36]:
#resultado após o tratamento
geolocalizacao.head()
print(geolocalizacao.head(1000))

      codigo_ocorrencia ocorrencia_latitude ocorrencia_longitude
1                 45331              -23.43               -46.47
8                 45391              -19.91               -48.29
12                45396              -5.367               -49.13
13                45408              -24.58               -48.21
15                45409              -16.03               -57.59
...                 ...                 ...                  ...
2353              60859              -29.26               -56.45
2354              60660              -29.72               -56.95
2355              60664              -15.79               -51.67
2356              60665              -22.66               -50.56
2357              60667              -2.246               -49.56

[1000 rows x 3 columns]

#Fase 4 - Conexão com MongoDB Atlas

##4.1 - Conexão com MongoDB Atlas - Flávio

In [38]:
#url de conexão com o mongoDBAltas - Flavio
uri = "mongodb+srv://mongo_user:MongoUser1234@cluster0.6qfwp.mongodb.net/starwars?retryWrites=true&w=majority"
client = mc(uri)

In [39]:
db = client['projetobd']

##4.2 - Conexão com MongoDB Atlas - Carlos

In [40]:
#url de conexão com o mongoDBAltas - Carlos
#uri = "mongodb+srv://carlosluisfilho:gled1986@cluster0.q3jl7.mongodb.net/test?retryWrites=true&w=majority"
#client = mc(uri)

In [41]:
#db = client['cenipa']

#Fase 5 - Carga do DataFrame no MongoDB

##5.1 - Definição da collection que será utilizada

In [42]:
collection = db['ocorrencias']

##5.2 - Carregando a coleção de ocorrencias no MongoDB

In [43]:
#lista.clear()
lista = []
for index, i in ocorrencias.iterrows():
    lista.append({"codigo_ocorrencia":i["codigo_ocorrencia"], "classificacao": i["ocorrencia_classificacao"],
                  "cidade": i["ocorrencia_cidade"],"pais": i["ocorrencia_pais"],
                  "dia": i["ocorrencia_dia"],"divulgacao_relatorio_publicado": i["divulgacao_relatorio_publicado"],
                  "saida_pista": i["ocorrencia_saida_pista"],"total_recomendacoes": i["total_recomendacoes"],
                  "total_aeronaves_envolvidas": i["total_aeronaves_envolvidas"]})
collection.insert_many(lista,bypass_document_validation=False)

##5.3 - Complemento da carga da coleção aernovave no MongoDB

###5.3.1 - Bloco1

In [ ]:
#trecho que define a base de dados e a coleção a ser atualizada
collection = db['ocorrencias']
#trecho que define as regras da atualização
for index, i in uf.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia"]}
    novos_valores = { '$set': {'uf':i["ocorrencia_uf"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define a base de dados e a coleção a ser atualizada
collection = db['ocorrencias']
#trecho que define as regras da atualização
for index, i in hora.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia"]}
    novos_valores = { '$set': {'hora':i["ocorrencia_hora"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define a base de dados e a coleção a ser atualizada
collection = db['ocorrencias']
#trecho que define as regras da atualização
for index, i in investigacao_aeronave_liberada.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia"]}
    novos_valores = { '$set': {'investigacao_aeronave_liberada':i["investigacao_aeronave_liberada"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define a base de dados e a coleção a ser atualizada
collection = db['ocorrencias']
#trecho que define as regras da atualização
for index, i in investigacao_status.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia"]}
    novos_valores = { '$set': {'investigacao_status':i["investigacao_status"]}}
    collection.find_one_and_update(query,novos_valores)

###5.3.2 - Bloco2

In [ ]:
#trecho que define a base de dados e a coleção a ser atualizada
collection = db['ocorrencias']
#trecho que define as regras da atualização
for index, i in divulgacao_dia_publicacao.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia"]}
    novos_valores = { '$set': {'dia_publicacao':i["divulgacao_dia_publicacao"]}}
    collection.find_one_and_update(query,novos_valores)

In [ ]:
#trecho que define a base de dados e a coleção a ser atualizada
collection = db['ocorrencias']
#trecho que define as regras da atualização
for index, i in divulgacao_relatorio_numero.iterrows():
    query = {'codigo_ocorrencia':i["codigo_ocorrencia"]}
    novos_valores = { '$set': {'relatorio_numero':i["divulgacao_relatorio_numero"]}}
    collection.find_one_and_update(query,novos_valores)

###5.3.3 - Bloco3

In [ ]:
#trecho que define as regras da atualização
for i in range (len(geolocalizacao)):
    ocorrencia = int(geolocalizacao.iloc[i]['codigo_ocorrencia'])
    lng = geolocalizacao.iloc[i]['ocorrencia_longitude']
    lat = geolocalizacao.iloc[i]['ocorrencia_latitude']
    query = {'codigo_ocorrencia':ocorrencia}
    novos_valores = { '$set': {'geolocalizacao': {'type':"Point",
                                                  'coordinates':[float(lng),float(lat)]}}}
    collection.find_one_and_update(query,novos_valores)

#Fase 6 - Códigos Extras

##6.1 - Excluíndo uma coleção

In [ ]:
#estrutura para excluir a coleção
collection = db['ocorrencias']
#collection.drop()

In [ ]:
#estrutura para excluir a coleção
collection = db['geolocalizacao']
#collection.drop()

##6.2 - Update de apenas um registro de Ocorrencia filtrando pelo código

In [ ]:
query = {'codigo_ocorrencia':45392}
#resultado = geolocalizacao[geolocalizacao['codigo_ocorrencia'] == 45392]
#novos_valores = { '$set': {'geolocalizacao': {'type':"Point",'coordinates':[{'longitude':resultado.ocorrencia_longitude.values[0],'latitude':resultado.ocorrencia_latitude.values[0]}]}}}
#collection.find_one_and_update(query,novos_valores)

##6.3 - Consultas pandas

In [ ]:
geolocalizacao[geolocalizacao["codigo_ocorrencia"]==79532]

Empty DataFrame
Columns: [codigo_ocorrencia, ocorrencia_latitude, ocorrencia_longitude]
Index: []